# python==3.14

numpy # standard for programming in python
numba # cuda 'compiler'
pybind11 # tiny obj loader bindings
pillow # png support
colour-science # for generating tonemapper lut
# Optional: install oidn separately if denoising is desired and available.

# optionally with conda:
# ncu
# ncu-ui
# cudatoolkit>=11.0

# tinyobjloader compiled c++ with pybind11
